## cmake ##
CMakeCache.txt
CMakeFiles/
CMakeScripts
CTestTestfile.cmake
Makefile
Testing/
cmake_install.cmake
compile_commands.json
install_manifest.txt

## binaries ##
ctyml
ctyml_test
libctyml_lib.a
